/* RESET*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
main{
    min-height: 500px!important;
}
img {
    max-width: 100%;
}

/*HEAD*/
.head {
    background-color: #fff;
}

/* CONTAINER*/
.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

/* HELPERS*/
.bg-white {
    background-color: #fff;
    color: #130400;
}

.bg-black {
    background-color: #130400;
    color: #fff;
}

.bg-gradient {
    text-align: center;
    background: linear-gradient(to right, #135D8E, #5BB95F);
}

/* CABECALHO*/

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo-mobile.png) center center/56px no-repeat;
    font-size: 0;
}

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
}

.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu {
    list-style: none;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
    font-size: 2em;
    color: #ffffff;
    padding: 1.5% 3%;
}

.menu li a:hover {
    border: 1px solid;
    color: #5BB95F;
}

.sub-menu {
    font-size: 1em !important;
    display: none;
}

.sub-menu a:hover {
    color: #135D8E !important;
}

/*PAGINA USUARIO*/
.user-index {
    display: block;
}

.btn-azul, .btn-verde {
    color: #fff;
    font-size: 1.5em;
    margin-top: 10%;
    cursor: pointer;
}

.btn-azul {
    background-color: #135D8E;
}

.btn-verde {
    background-color: #5BB95F;
}

.user-cadastro, .user-listagem {
    display: none;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/*FORMULARIO PADRAO*/
.form input,select, button, label, navega {
    width: 100%;
    height: 59px;
    padding: 3%;
    margin: 3px
}

.navega {
    padding: 2% !important;
}

.navega ul li {
    display: inline;
}

.navega ul li a {
    font-weight: 700;
    text-decoration: none;
    padding: 0px 10px 22px;
    float: left;
}

.form button {
    cursor: pointer;
    background-color: #2d6e9a;
    font-size: 22px;
    color: #fff;
}
.form select {
    cursor: pointer;
    font-size: 22px;
}

.form label {
    color: red;
    display: none;
}

/* RODAPE*/
.footer {
    bottom: 0;
    width: 100%;
}

.social-icons a {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 3%;
}

/*REMOVENDO A MARGEM DO ULTIMO LINK DA REDES SOCIAIS*/
.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: rgb(255, 255, 255);
}

.copyright {
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.7);
}

/* ==============MOBILE FIRST================*/

/* SMALL DEVICES - SMARTPHONES*/
@media screen and (min-width: 480px) {
    .logo {
        width: 214px;
        background: url(../img/logo.png) center center/214px no-repeat;
    }

    .btn {
        font-size: 2em;
    }
}

/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .servico:nth-child(2) {
        margin-right: 0;
    }

    .newsletter h2 {
        font-size: 2em;
    }

    .newsletter h3 {
        font-size: 1.5em;
    }

    .newsletter input {
        width: 70%;
        padding: 2%;
        float: left;
        margin-right: 1%;
    }

    .newsletter button {
        width: 29%;
        padding: 2%;
        float: right;
        margin-top: 0;
    }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
    .title {
        width: 70%;
        float: left;
        text-align: left;
    }

    .title h2 {
        font-size: 3em;
    }

    .title h3 {
        font-size: 2em;
    }

    .buttons {
        width: 30%;
        float: right;
        margin-top: 0;
    }

    .servico {
        width: 32%;
    }

    .servico:nth-child(2) {
        margin-right: 2%;
    }

    .servico:nth-child(3) {
        margin-right: 0;
    }

    .newsletter input {
        width: 60%;
        float: none;
    }

    .newsletter button {
        width: 20%;
        float: none;
    }
}

/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px) {
    .btn {
        font-size: 1.2em;
    }

    .btn-menu {
        display: none;
    }

    .btn-close {
        display: none;
    }

    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #f5f5f5;
        display: block !important;
        position: static;
    }

    .menu li {
        padding: 0;
        float: left;
    }

    .menu li a {
        color: rgb(60, 60, 60) !important;
        font-size: 1.1em;
        padding: 15px;
        font-weight: 700;
        opacity: 0.9%;
    }

    .menu li a:hover {
        border: none;
        color: #5BB95F;
    }
}


